@charset "EUC-KR";

body{
	background:#ededed;
	text-align:center;
	margin : 100px auto 100px;
	font-size:30px;
	
	/*border: 1px solid #3b90f7;*/
}

table.logintable{
	margin: auto;
	width:300px;
	height:200px;
	border-collapse:separate;
	border-spacing: 0 10;
}

input{
	padding:10px;
	font-family:"고딕체", Georgia, Time New Roman, sans-serif; 
}

input[type=submit]{
	background:#3b90f7;
	border:0;
	color:#ffffff;
	font-weight:bold;
	cursor:pointer;
}

a.title{
	/*text-align:center;*/
	text-decoration:none; /*버튼  줄 없앰*/
	color:#3b90f7;
}

hr{
	color:gray;
	border:none;
	border-top:3px dotted;
	width:300px;
}

div{
	margin:auto;
	width:300px;
	height:170px;	
}

div.sginbutton{
	display:table-cell;
	text-align:right; 
	vertical-align:top;
}

a#signupbutton{
	font-size:15px;
	text-decoration:none;
	color:gray;
}

/*----------------signup.php----------------*/
table.signuptable{
	margin:auto;
	width:300px;
	height:100px;
	
	border-collapse:separate;
	border-spacing: 0 30;
} /*테이블 수에 따라 높이를 키워야 한다.*/

select{	
	padding:10px;
}


