@charset "EUC-KR";

body{
	font-family: "고딕체", Georgia, Time New Roman, sans-serif; 
	margin:0px;
}

a{
	text-decoration: none; 
	color:#585858;	
}
a.mypage{
	padding:0px 7px;
}
a.title{
	color:#9cce6f;
	font-weigt:20px;
	font-size:50px; 
}
a.menu{
	color:#ffffff;
}


input{
	border:1px solid #b5db93;
	width:350px;
	height:35px;
	padding:10px;
}


button{
	width:50px;
	height:35px;
	background:#9cce6f;
	color:#ffffff;
	border:0;
}

table.photo{
	border-collapse: seperate;
	border-spacing: 25px 20;
}
table#menutable{
	border-collapse: seperate;
}
table.mypage{
	border-collapse: collapse;
	width:890px;
	table-layout:fixed;
}
td.image{
	font-size:14px;
	border:1px solid;
	width:200px;
	height:200px;
}
td.place{
	color:#b4bbbf;
	font-size:13px;
}
td.mypage{	
	
}
th.mypage{
	width: 150px;
	background-color:#e6e6e6;
}
th.mypage,td.mypage{
	border:1px solid #c4c4c4;
	padding: 10px;
}

div#topview{
	background-color:#ffffff;
}

div.maintitle{
	margin: 40px 40px 70px;
}

div.newtable{
	display:inline-block;
	border: 1px solid;
	width:200px;
	height:200px;
	margin: 0 10px;
}

div.textline{
	font-size:20px;
	margin-block-start: 4em;
}

b#new{
	margin: 0 680px 0 0;
}

b#deadline{
	margin: 0 700px 0 0;
}
h3.mypagetext{
	margin: 0 325px;
}
h3.myinfo{
	margin: 10px 150px;
}
h4{
	margin: 0 40px 0 0;
}
hr{
	border:none;
	border-top:1px solid;
	margin-block-end:20px;
	width:890px;
	
}